{%extends 'layout_tch.html'%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/statistics_part/attainment.css')}}">
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
{%endblock%}
{%block left%}
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<div class="stat_links">
 <a href="{{url_for('fs')}}">Review Students' Engagement and Attempts</a><br>
<a href="{{url_for('stat_home')}}">Return to Statistics Home</a>
</div>
<h1>Yearly Summative Assessment Score Distribution</h1>
<!-- Create a div where the graph will take place -->
<div id="sum_res"></div>
<h1>Individual Summative Assessment Scores <span id="assessment_name"></span></h1>
<table id="indiv_sum" class="display">
   
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Intake Year</th>
            <th>KS3 Mathematics: Term 1</th><!--get from jinja rendering-->
            <th>KS3 Mathematics: Term 2</th>
        
        </tr>
    </thead>
    <tbody id="indiv_sum_body"></tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js" ></script><!--import jquery via CDN,online -->   

<script  src="{{url_for('static',filename='statistics_part/js/sa.js')}}"></script>
<script  src="{{url_for('static',filename='statistics_part/js/indiv_sa.js')}}"></script>

{%endblock %}