{% extends "layout_gen.html" %}

{% block navlinks %}
    <a href="#" alt="A button to view the questions you've created">Questions</a>
    <div id="navlinkgap"></div>
    <a href="{{url_for('tchSeeAssessments',Teacher_ID=1)}}" alt="A button to view the assessments you've created">Assessments</a>
    <div id="navlinkgap"></div>
    <a href="{{url_for('stat_home')}}" alt="A button to view the statistics on the questions and assessments you've created">Statistics</a>
    <div id="navlinkgap"></div>
    <a href="{{url_for('landingPage')}}" alt="A link to logout of the Teacher portal">Logout</a>
{% endblock %}