<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>ProMark</title>
    <link rel="icon" href="{{url_for('static',filename='icons/pencil.png')}}" alt="An icon of a pencil">
{%block head%}
{%endblock%}
</head>
<body>


<!-- NAVBAR -->
<div id="navbar">
    <div id="navbarContents">
        <img id ="navbarImage" src="{{url_for('static',filename='icons/pencil.png')}}" alt="An icon of a pencil">
        {%block navlinks%}
        {%endblock%}

    </div>
</div>


<!-- PAGE CONTENT -->
<div id="pageContent">
    <div id="pageContainers">
        <div class="leftContainer">
            {% block left %}
            {% endblock %}
        </div>
        <div class="containerGap"></div> 
        <div class="rightContainer">
            {% block right %}
            {% endblock %}
        </div>
        
    </div>
</div>


</body>
</html>