{% extends "layout_tch.html" %}

{%block head%}
<link rel="stylesheet" href="../static/css/statistics_part/stat_home.css">
{%endblock%}
{%block left%}
<h1>Assessment Statistics</h1>
<!--make links later-->
<div class="toMetrics">
    
<h2>Student Attainment</h2>
<p>What knowledge and skills have students obtained?</p>
<a href="{{url_for('attainment')}}">Review</a>
</div>


<div class="toMetrics">
    <h2>Student Engagement and Attempts</h2>
    <p>How much interest students have in learning?</p>
    <p>Are students willing to take challenges?</p>
    <a href="{{url_for('fs')}}">Review</a>
</div> 

{% endblock %}