{% extends "layout_stu.html" %}

{% block left %}
    <h1>MY FEEDBACK FOR <i>{{assessment.Assessment_name}}</i></h1>
    <i>If you would like to see what others are saying about an exercise, click the 'Comments' button.</i>

    <div class="exerciseContainer">
        <h2>1) {{exercises[0].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt1.inputtedAnswer}}
            <b>{% if pt1.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt1.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[0].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt1.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[0].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[0].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>

    <div class="exerciseContainer">
        <h2>2) {{exercises[1].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt2.inputtedAnswer}}
            <b>{% if pt2.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt2.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[1].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt2.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[1].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[1].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    <div class="exerciseContainer">
        <h2>3) {{exercises[2].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt3.inputtedAnswer}}
            <b>{% if pt3.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt3.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[2].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt3.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[2].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[2].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    <div class="exerciseContainer">
        <h2>4) {{exercises[3].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt4.inputtedAnswer}}
            <b>{% if pt4.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt4.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[3].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt4.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[3].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[3].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    <div class="exerciseContainer">
        <h2>5) {{exercises[4].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt5.inputtedAnswer}}
            <b>{% if pt5.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt5.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[4].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt5.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[4].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[4].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    <div class="exerciseContainer">
        <h2>6) {{exercises[5].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt6.inputtedAnswer}}
            <b>{% if pt6.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt6.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[5].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt6.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[5].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[5].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    <div class="exerciseContainer">
        <h2>7) {{exercises[6].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt7.inputtedAnswer}}
            <b>{% if pt7.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt7.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[6].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt7.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[6].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[6].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    <div class="exerciseContainer">
        <h2>8) {{exercises[7].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt8.inputtedAnswer}}
            <b>{% if pt8.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt8.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[7].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt8.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[7].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[7].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    <div class="exerciseContainer">
        <h2>9) {{exercises[8].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt9.inputtedAnswer}}
            <b>{% if pt9.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt9.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[8].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt9.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[8].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[8].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    <div class="exerciseContainer">
        <h2>10) {{exercises[9].Question}}</h2>
        <div id="theirAnswer">
            <b>YOUR ANSWER: </b> {{pt10.inputtedAnswer}}
            <b>{% if pt10.Set0forWrong1forRight == 0 %}
                ✗
            {% else %}
                ✓
            {% endif %}</b>
        </div>
        {% if pt10.Set0forWrong1forRight == 0 %}
            <div id="correctAnswer">
                <b>CORRECT ANSWER: </b> {{exercises[9].Correct_answer}}
            </div>
        {% endif %}
        <div id="feedback">
            {% if pt10.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[9].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[9].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
        <div id="commentsButton">
            <form action=""> 
                <input type="submit" value="COMMENTS" />
            </form>
            <!--url_for('chrisCommentsFunc',Assessment_ID=assessment.Assessment_ID)-->
        </div>
    </div>
    
    <form action="{{url_for('stuSeeAssessments',Teacher_ID=assessment.Teacher_ID)}}">
        <input type="submit" value="RETURN TO TEACHER {{assessment.Teacher_ID}}'S PAGE" />
    </form>
{% endblock %}


{% block right %}
    <h2 id="totalMark"><i>TOTAL MARK: {{totalPerc}}%</i></h2>
{% endblock %}