{% extends "layout_stu.html" %}

{% block left %}
    <h1>TEACHER {{Teacher_ID}}'S ASSESSMENTS</h1>
    
    <div class="asmtTypeViewBlock">
        <h2>Formative Assessments</h2>
        <i>Click on an assessment to take it. You may retake formative assessments as many times as you'd like.</i>
        <ul id=assessments_list>
            {% for row in formatives %}
                <div id="assessments_list_item">
                    <li>
                        <a href="{{url_for('sitFormAssessment',Assessment_ID=row.Assessment_ID,Student_ID=1)}}" alt="Link to sit assessment {{row.Assessment_name}}">
                            {{row.Assessment_name}}
                        </a>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>

    <div class="asmtTypeViewBlock">
        <h2>Summative Assessments</h2>
        <i>Click on an assessment to take it. You may only take a summative assessment once.</i>
        <ul id=assessments_list>
            {% for row in summatives %}
                <div id="assessments_list_item">
                    <li>
                        <a href="{{url_for('sitSumAssessment',Assessment_ID=row.Assessment_ID)}}" alt="Link to sit assessment {{row.Assessment_name}}">
                            {{row.Assessment_name}}
                        </a>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>

{% endblock %}