{% extends "layout.html" %}

{% block left %}
    <h1>[ASSESSMENT TITLE PULLED FROM DB]</h1>
    <ul id="assessmentExercises">
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
        <li id="assessmentExercise">
            <div id="question">
                [Question pulled from DB]
            </div>
            <ul id="answerOptions">
                <li>[Option 1 from DB - Correct answer]</li>
                <li>[Option 2 from DB]</li>
                <li>[Option 3 from DB]</li>
                <li>[Option 4 from DB]</li>
            </ul>
            <div id="answerInput">
                [TEXTBOX]
            </div>
        </li>
    </ul>
    [Make it so any that are empty don't show - Assessment may have less than 10 exercises]
    <a href="{{url_for('stuSeeAssessments')}}" alt="A link to see that teacher's assessments">Temp 'Submit' link</a>
{% endblock %}