{% extends "layout.html" %}

{% block left %}
    <h1>ASSESSMENT BUILDER</h1>
    <i>Note from Anya: Haven't decided how to make this work yet. It would be good if it went like...
        press the '+' > 
        the questions would show > 
        choose a question > 
        question list disappears > 
        it now doesn't show '+', but the name of the question you selected.
        I haven't figured out how to do that yet.
        An alternative would be to have a dropdown instead of a +, which shows the list of questions.
    </i>
    <div>Name of Assessment: [Textbox]</div>
    <div id="questionSelectors">
        <div id="questionSelector">
            <button>+</button>
            <button>Clear</button>
        </div>
        <div id="questionSelector">
            <button>+</button>
            <button>Clear</button>
        </div>
        [x10]
    </div>
    <button>Save as formative assessment</button>
    <button>Save as summative assessment</button>
{% endblock %}

{% block right %}
    <div id="dropDown">
        <!--Only show this one of the above + buttons has been clicked-->
        <h2>MY 'MULTIPLE CHOICE' EXERCISES</h2>    
            <ul id=exercises_list>
                {% for row in MCQs %}
                    <div id="exercises_list_item">
                        <li>{{row.Question}}</li>
                        [Make it a button] 
                    </div>
                {% endfor %}
            </ul>
        <h2>MY 'FILL THE BLANKS' EXERCISES</h2> 
            <ul id=exercises_list>
                {% for row in FTBs %}
                    <div id="exercises_list_item">
                        <li>{{row.Question}}</li>
                        [Make it a button] 
                    </div>
                {% endfor %}
            </ul>
    </div>
{% endblock %}