{% extends "layout.html" %}

{% block left %}
    <h1>MY ASSESSMENTS</h1>

    <div>Click on an assessment to see or change its details, or "+" to create a new assessment.</div>

    <h2>Formative Assessments</h2>
        <ul id=assessments_list>
            {% for row in formatives %}
                <div id="assessments_list_item">
                    <li>{{row.Assessment_name}}</li>
                    [MAKE IT A LINK, TO MAKE EDITS]
                    [ADD LINK TO DELETE]
                </div>
            {% endfor %}
        </ul>

    <h2>Summative Assessments</h2>
        <ul id=assessments_list>
            {% for row in summatives %}
                <div id="assessments_list_item">
                    <li>{{row.Assessment_name}}</li>
                    [MAKE IT A LINK, TO MAKE EDITS]
                    [ADD LINK TO DELETE]
                </div>
            {% endfor %}
        </ul>
{% endblock %}

{% block right %}
    <a href="{{url_for('buildAssessment',Teacher_ID=Teacher_ID)}}" alt="A button to build an assessment">+</a>
{% endblock %}