{% extends "layout.html" %}

{% block left %}
    <h1 id="assessmentTitle">Name of Assessment: </h1> [Textbox]
    <div id="questionSelector">
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
        <li>+ [Click this to show list]</li>
        <button>Clear</button>
    </div>
    <button>Save as formative assessment</button>
    <button>Save as summative assessment</button>
{% endblock %}

{% block right %}
    <h2>My 'Multiple Choice' Questions</h2>    
    [List of MCQs]
    <h2>My 'Fill the Blanks' Questions</h2> 
    [List of MCQs]
{% endblock %}