{% extends "layout_tch.html" %}

{% block left %}
    <h1>MY ASSESSMENTS
        <form id="plusButton" action="{{url_for('buildAssessment',Teacher_ID=Teacher_ID,NewIs0OldisID=0)}}">
            <input type="submit" value="+" />
        </form>
    </h1>

    <i>Click on an assessment to see or change its details, or on '+' to<br>create a new one.</i>

    <div class="asmtTypeViewBlock">
        <h2>Formative Assessments</h2>
        {% if formSet0forEmpty1forFull==0 %}
            <i>None saved</i>
        {% endif %}
        <ul id=assessments_list>
            {% for row in formatives %}
                <div id="assessments_list_item">
                    <li>
                        <a href="{{url_for('buildAssessment',
                                            Teacher_ID=Teacher_ID,
                                            NewIs0OldisID=row.Assessment_ID
                                )}}" alt="Click to edit this assessment">{{row.Assessment_name}}</a>
                        <form id="delButton" action="{{url_for('delAss',Assessment_ID=row.Assessment_ID)}}">
                            <input id="delButton" type="submit" value="DELETE" />
                        </form>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>

    <div class="asmtTypeViewBlock">
        <h2>Summative Assessments</h2>
        <ul id=assessments_list>
            {% for row in summatives %}
                <div id="assessments_list_item">
                    <li>
                        <a href="{{url_for('buildAssessment',
                                                Teacher_ID=Teacher_ID,
                                                NewIs0OldisID=row.Assessment_ID
                                    )}}" alt="Click to edit this assessment">{{row.Assessment_name}}</a>
                    </li>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}