
<!--
  
  
    FIRST - SET UP YOUR 'LAYOUT.HTML' - THIS HOLDS THE CODE THAT YOUR PAGE WILL INHERIT
        1. Create a file titled 'layout.html'
        2. Write in there the code you want every page to inherit, e.g., ...
            <head>
                all the stuff that goes in the head
            </head>
            <body>
                all the stuff you want every page's body to hold (e.g., nav bar)
            </body>
        3. Where in this 'layout' do you want your content to be? In that area write...
            {% block nameOfBlock %}{% endblock %}
        4. You can repeat this as many times as you want, just make sure to change the nameOfBlock


        
    SECOND - SET UP YOUR PAGE:
        1. Make your document (e.g, landing_page.html)
        2. At top the document, write
            {% extends "layout.html" %}
        3. Write the code for this page, labelling which 'slot' it'll go into...
            {% block nameOfBlock %}
                The code you want to be inserted into that location
            {% endblock %}


-->