
<!--

    
    1. Make your document (e.g, landing_page.html)
    2. Move it into the 'templates' folder
    3. At top the document, write
        {% extends "layout.html" %}
    4. Write the code for this page, labelling which 'slot' it'll go into...
        {% block left %}
            The code you want to be inserted into the left flexbox container
        {% endblock %}

        {% block right %}
            The code you want to be inserted into the left flexbox container
        {% endblock %}


-->