{% extends "layout_stu.html" %}

{% block left %}
    <h1>MY RESULTS FOR <i>{{assessment.Assessment_name}}</i></h1>

    <div id="feedbackContainer">
        <h2>1) {{exercises[0].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt1.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[0].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt1.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt1.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[0].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[0].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>

    <div id="feedbackContainer">
        <h2>2) {{exercises[1].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt2.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[1].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt2.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt2.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[1].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[1].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    <div id="feedbackContainer">
        <h2>3) {{exercises[2].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt3.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[2].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt3.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt3.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[2].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[2].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    <div id="feedbackContainer">
        <h2>4) {{exercises[3].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt4.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[3].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt4.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt4.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[3].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[3].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    <div id="feedbackContainer">
        <h2>5) {{exercises[4].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt5.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[4].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt5.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt5.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[4].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[4].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    <div id="feedbackContainer">
        <h2>6) {{exercises[5].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt6.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[5].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt6.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt6.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[5].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[5].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    <div id="feedbackContainer">
        <h2>7) {{exercises[6].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt7.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[6].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt7.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt7.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[6].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[6].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    <div id="feedbackContainer">
        <h2>8) {{exercises[7].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt8.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[7].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt8.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt8.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[7].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[7].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    <div id="feedbackContainer">
        <h2>9) {{exercises[8].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt9.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[8].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt9.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt9.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[8].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[8].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    <div id="feedbackContainer">
        <h2>10) {{exercises[9].Question}}</h2>
        <div id="commentsButton">
            <button>What do people have to say about this question? [open in new tab]</button>
        </div>
        <div id="theirAnswer">
            <b>Your answer: </b> {{pt10.inputtedAnswer}}
        </div>
        <div id="correctAnswer">
            <b>Correct answer: </b> {{exercises[9].Correct_answer}}
        </div>
        <div id="marker">
            {% if pt10.Set0forWrong1forRight == 0 %}
                X
            {% else %}
                ✓
            {% endif %}
        </div>
        <div id="feedback">
            {% if pt10.Set0forWrong1forRight == 0 %}
                <b>WHY?</b> {{exercises[9].How_corr_answ_was_reached}} <br>
                <b>TOP TIP: </b> Taking some time to revise the <i>{{exercises[9].Topic}}</i> topic will help you with this.
            {% else %}
                Well done!
            {% endif %}
        </div>
    </div>
    
    <form action="{{url_for('stuSeeAssessments',Teacher_ID=assessment.Teacher_ID)}}">
        <input type="submit" value="RETURN TO TEACHER {{assessment.Teacher_ID}}'S PAGE" />
    </form>

{% endblock %}