
/* GENERAL RULES */
    *{
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1{font-size: xx-large}
    h2, h3{font-size: large}
    h2{margin-bottom: 10px}
    #pageContent {
        background-color: lightgray;
        min-height: 100vh;
    }
    #pageContent p{
        text-indent: 4%;
    }
    /* GENERAL RULES: Flexbox */
        #pageTextContainer {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: space-evenly;
            gap: 20px;
        }
        .leftContainers{
            height: auto;
            width: 360px;
            flex-grow: 1;
        }
        .rightContainers{
            height: auto;
            width: 300px;
            flex-grow: 0;
        }
    /* GENERAL RULES: Responsive design */
        @media (max-width: 886px){
            .rightContainers {
                flex-grow: 1;
            }
        }
/* END OF GENERAL RULES */



/* NAVBAR RULES */
    #navbar {
        position: fixed;
        background-color: rgb(98, 117, 90);
        font-size: large;
    }
    #navbarImage{
        width: 40px;
    }
    #navbar a {
        display: block;
        color: rgb(180, 174, 174);
        text-decoration: none;
    }
    #navbar a:hover {
        color: lightgray;
        font-weight: bold;
        transition-duration: 0.3s;
    }
    #navbar a:active {
        color: black;
        transition-duration: 0.3s;
    }
    #navbar button {
        display: block;
        color: rgb(53, 61, 50);
        text-decoration: none;
        padding: 8px 20px;
        background: rgb(113, 130, 105);
        border-radius: 20%;
        border:none;
    }
    #navbar button:hover {
        color: lightgray;
        font-weight: bold;
        transition-duration: 0.3s;
    }
    #navbar button:active {
        color: black;
        transition-duration: 0.3s;
    }
    /* NAVBAR RULES: Responsive design */
        @media all and (min-width: 100vh) {
            #navbar{
                width: 150px;
                height: 100vh;
            }
            #navbarContainer {
                min-height: 100vh;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 10px;
            }
            #fontPrefContainer {
                padding: 10px;
                display: flex;
                flex-direction: row;
                gap: 5px;
            }
            #pageContent{
                margin-left: 150px;
            }
        }
        @media all and (max-width: 100vh) {
            #navbar {
                width: 100vw;
                height: auto;
            }
            #navbarContainer {
                min-width: 100vw;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
            }
            #navbarImage{display:none}
        }
/* END OF NAVBAR RULES */